@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: absolute;
  left: 50%;
  height: 75px;
  transform: translateX(-50%);
}

.menu-link {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu-link:hover {
  box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

.footer {
  margin: 0;
  padding: 0;
  height: 75px;
  background-color: rgba(63, 0, 0, 1);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.footer p {
  margin: 0;
  padding: 0;
}

.hero-image {
  background-image: url("../images/hero-image-night.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.hero-container {
  height: 100%;
  width: 50%;
  background-color: rgba(63, 0, 0, 0.7);
}

.content-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.content-container h2 {
  font-size: 60px;
  margin: 20px 0;
}

.content-container h3 {
  font-size: 25px;
  margin: 0;
}

.content-container button {
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(63, 0, 0, 0.8);
  border: none;
  box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.9);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.content-container button:hover {
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(63, 0, 0);
  border: none;
  box-shadow: 0 0 100px 0 rgba(255, 69, 0, 0.9);
  cursor: pointer;
}

.menu-image {
  background-image: url("../images/night-bar.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.menu-collection {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  margin: auto;
}

.menu-collection h2 {
  font-size: 60px;
  border: 4px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  grid-area: 1 / 1 / 2 / 3;
}

.drink-item {
  text-align: center;
}

.drink-img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 200px 0 rgba(255, 255, 255, 0.5);
}

.hero-image-contact {
  background-image: url("../images/contact-page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
